---
import { Picture } from 'astro:assets'
import { getCollection } from 'astro:content'
import Layout from '../layouts/Layout.astro'
import Header from '../components/layout/Header.astro'
import PageHeader from '../components/text/PageHeader.astro'
import BlogCard from '../components/layout/BlogCard.astro'

const allPosts = await getCollection('blog')
const sortedPosts = allPosts.sort((a, b) => +b.data.id - +a.data.id)
const newestPost = sortedPosts.at(0)
const recentPosts = sortedPosts.slice(1, allPosts.length)

function createEllipsisText(text: string, maxLength: number) {
  const subText = text.substring(0, maxLength)
  const lastChar = subText[maxLength - 1]
  return lastChar !== ' ' ? `${subText}...` : `${subText.substring(0, maxLength - 1)}...`
}

const truncatedDescriptionText = createEllipsisText(newestPost!.data.description, 100)
---

<Layout
  title="Wave Land Web | Blog"
  description="Explore the captivating insights and expertise within Wave Land Web's esteemed blog, where we delve into the realms of web development, design, and the broader creative landscape, offering thought-provoking articles that immerse you in a world of knowledge and inspiration"
>
  <Header class="header">
    <div class="header-info">
      <PageHeader text="Wave Land Blog" class="page-header" />
      <p>
        Stay Informed on all things web development, Wave Land Web's perspective on the latest
        trends, and tips and tricks for building and maintaining a successful online presence.
      </p>
    </div>
  </Header>

  <section id="blog-container">
    <div class="newest-post-container">
      <a href={`/blog/${newestPost?.slug}`}>
        <Picture
          src={newestPost!.data.image}
          formats={['avif', 'webp']}
          alt={newestPost!.data.imageAlt}
        />
      </a>
      <div class="newest-post-info">
        <p>{newestPost?.data.published}</p>
        <h2><a href={`/blog/${newestPost?.slug}`}>{newestPost?.data.title}</a></h2>
        <p>{truncatedDescriptionText}</p>
      </div>
    </div>
    <div class="recent-posts-container">
      {
        recentPosts.map((post) => (
          <BlogCard
            title={post.data.title}
            published={post.data.published}
            slug={`/blog/${post.slug}`}
            image={post.data.image}
            imageAlt={post.data.imageAlt}
          />
        ))
      }
    </div>
  </section>
</Layout>

<style>
  .header-info p {
    margin: 0 auto 1rem;
    font-size: var(--size-sm);
    font-weight: var(--weight-bold);
  }

  @media (min-width: 768px) {
    .header-info p {
      font-size: var(--size-base);
    }
  }

  #blog-container {
    z-index: 1;
    max-width: 1100px;
    margin: 0 auto 4rem;
    padding: 1rem;
  }

  @media (min-width: 768px) {
    #blog-container {
      padding: 0 2rem 2rem;
    }
  }

  .newest-post-container {
    width: 100%;
    display: grid;
    gap: 2rem;
    margin: 0 auto 2.5rem;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid var(--color-grey-text);
  }

  @media (min-width: 1024px) {
    .newest-post-container {
      grid-template-columns: 1fr 350px;
      gap: 3rem;
    }
  }

  .newest-post-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    text-align: center;
  }

  @media (min-width: 1024px) {
    .newest-post-info {
      text-align: left;
    }
  }

  .newest-post-info h2 {
    font-size: var(--size-sm);
    text-transform: uppercase;
  }

  @media (min-width: 768px) {
    .newest-post-info h2 {
      font-size: var(--size-base);
    }
  }

  .newest-post-container p {
    color: var(--color-grey-text);
    font-size: var(--size-xs);
  }

  .newest-post-info a {
    transition: color var(--transition-normal);
  }

  .newest-post-info a:hover {
    color: var(--color-purple);
  }

  .newest-post-container img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }

  .recent-posts-container {
    width: 100%;
    display: grid;
    grid-gap: 2rem;
  }

  @media (min-width: 768px) {
    .recent-posts-container {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
  }
</style>
