---
export interface Props {
  project: {
    imageSrc: string
    alt: string
    title: string
    description: string
    languages: string
    liveSite: string
    github: string
  }
}

const { project } = Astro.props
---

<article class="project">
  <img src={project.imageSrc} width="3008" height="1720" alt={project.alt} loading="lazy" />
  <div class="project-description">
    <h3>{project.title}</h3>
    <p>{project.description}</p>
    <p>
      <span>{project.languages}</span>
    </p>
    <a class="josh-cta" href={project.liveSite} target="_blank" rel="noopener"> Live site</a>
    <a class="josh-cta" href={project.github} target="_blank" rel="noopener"> Code</a>
  </div>
</article>

<style>
  .project img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    border: 2px solid var(--color-black);
    border-radius: 10px;
    box-shadow: var(--box-shadow-light);
  }

  .project-description {
    padding: 1rem;
    border: 2px solid var(--color-black);
    border-radius: 10px;
    box-shadow: var(--box-shadow-light);
  }

  .project-description h3,
  .project-description p {
    margin-bottom: 1rem;
  }

  .project-description h3 {
    font-size: var(--size-medium);
  }

  .project-description p {
    font-size: var(--size-extra-small);
  }

  .project-description p span {
    color: var(--color-grey-text);
  }

  .project-description .josh-cta {
    margin-right: 0.25rem;
    padding: 0.25rem 0.5rem;
    font-size: var(--size-extra-small);
  }

  .project-description .project-link {
    color: var(--color-purple);
    transition: all var(--transition-normal);
  }

  @media (min-width: 768px) {
    .project-description .project-link:hover {
      opacity: var(--hover-opacity-link);
    }
  }
</style>
